<app-header></app-header>

<!-- Large modal -->
<div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" [config]="{backdrop: 'static'}"
     aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="stopVideo()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
         <video autoplay  (ended)="stopVideo()" *ngIf="showVideo">
          <source src="../assets/maja/intro.mp4" type="video/mp4">
        </video>
      </div>
    </div>
  </div>
</div>

<!--<app-sort-level [list]="list"></app-sort-level>-->
<app-map [context]="'/maja'"></app-map>
