<img [src]="src">
<div>
  <app-level-dot
    [config]="{positionX: 150, positionY: 100}"
    [active]="false"
    [finished]="true"
    [attr.title]="'Zuhause'"
    [routerLink]="['/']"
    [type]="levelType.HOME"
  >
  </app-level-dot>
</div>
<div *ngFor="let level of levels$ | async; let i = index">
  <app-level-dot
    [config]="getConfig(i)"
    [active]="level.status === levelStatus.ACTIVE"
    [finished]="level.status === levelStatus.FINISHED"
    [attr.title]="level.title"
    [type]="level.video ? levelType.VIDEO : levelType.EXERCISE"
    [index]="i"
    (click)="navigateOrShowVideo(level)"
    >
    <i *ngIf="level.video" class="fa fa-film" aria-hidden="true"></i>
  </app-level-dot>
</div>

<!-- Large modal -->
<div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" [config]="{backdrop: 'static'}"
     aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="stopVideo()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="showVideo">
        <video autoplay  (ended)="stopVideo()">
          <source [attr.src]="currentLevel.video" type="video/mp4">
        </video>
      </div>
    </div>
  </div>
</div>
