section {
  img {
    width: 400px;
    height: 300px;
  }
  .background{
    background-color: #000000;
    opacity: 0.6;
    width: 400px;
    height: 300px;
    position: absolute;
    top: 0;
    .fa{
      &.fa-lock{
        color: white;
        font-size: 13rem;
        padding: 7rem 16rem;
      }
      &.fa-usd{
        color: white;
        font-size: 13rem;
        padding: 7rem 7rem;
      }
    }
  }
}
